<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask Trial</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
  <h1>Freedom</h1>
  <img src="https://images.unsplash.com/photo-1682695795931-a546abdb6733?w=1600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8" width=520>
  <h2>About Freedom: </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at ante sed magna pretium viverra sed at sapien. Mauris fermentum velit diam, a dapibus est pretium quis. Integer quis felis venenatis, blandit nisi ac, interdum eros. In tristique dolor eros, sed pharetra felis pulvinar in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec purus quam. Morbi ex massa, imperdiet ultricies diam eget, faucibus auctor mauris. Cras diam nunc, convallis sed lobortis in, eleifend sit amet mi. Ut fringilla rutrum massa, vitae tempus metus malesuada nec.</p>
  <h2>Open Positions:</h2>
  <p>TODO - Show the jobs here</p>
  <button>Contact Us!</button>
</body>
</html>